<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings >
		<add connectionString="Data Source=DESKTOP-GC3M3L0\SQLEXPRESS;Initial Catalog=hospital_db;Integrated Security=True" name="AAZ" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>